.form-control.ng-touched.ng-invalid {
    border:1px solid red;
   }
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
   }
.items{
    background-color:LightGray
}
.items1{
    font-size: 20px;
    color: #000066;
}
.save-button {
    background: #0ff000;
    border: #0ff000;
    height: 30px;
    width: 80px;
    margin: left 10px;
    margin-right: 10px;
    border-radius: 5px; 
}
.cancel-button{
    background: #ff0000;
    border: #ff0000;
    margin: left 10px; ;
    margin-right: 10px;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
  .items2{
    float: right;
  }
  .ptax1{
    font-size: 20px;
    color: #000066;
  }
  .ptax{
    font-size: 18px;
    color: #000066;
  }