<!-- 
<div class="container items">
    <div>
      <h2 class=" pt-3 form-control:#000066">เพิ่มผู้รับผิดชอบ</h2>
    </div>
    <br>
    <div class="row justify-content-sm-center pt-5 ">
      <div class=" shadow round pb-3">
        <form  class="theme-form" [formGroup]=" Userlisform" (ngSubmit)="onSubmit()" >
          
        <div >
            <label class="col-form-label">ชื่อผู้รับผิดชอบ </label>
            <input  formControlName="name" [(ngModel)]="Userlis.name" type="text" name="name"  class="form-control">
        </div>
        <br>
        <div >
            <label class="col-form-label">ชื่อเล่น </label>
            <input  formControlName="nickname" [(ngModel)]="Userlis.nickname" type="text" name="nickname"  class="form-control">
        </div>
        <br>
        <div >
          <label class="col-form-label" for="systems">ระบบ</label>
          <select formControlName="systems" [(ngModel)]="Userlis.systems" type="text" name="system"  class="form-control" id="">
            <option value="Bangphim">Bangphim</option>
            <option value="Postedit">Postedit</option>
            <option value="Revoice">Revoice</option>
            <option value="CRM">CRM</option>
            <option value="Broadcaster">Broadcaster</option>
            <option value="Tool">Tool</option>
          </select>
        </div>
        <br>
        <div class="items2">
          <button class="cancel-button" type="reset" value="reset">ยกเลิก</button>
          <button class="save-button" type="submit" name="btinsert" [disabled]="!Userlisform.valid">ยืนยัน</button>
        </div>
          
        </form>
      </div>
      
    </div>
  </div> -->

  <ng-template #modal>
    <div class="modal-content">
      
      <div class="modal-header">
     
        test111111
      </div>
      <div class="modal-body">
        test
      </div>
      <div class="modal-footer">
  
      </div>
    </div>
  </ng-template>
  